body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

header {
    top: 0;
    width: 100%;
    text-align: center;
    height: 100px;
    margin: 0;
    padding: 0;
    z-index: 2000;
    background-color: #ffffff;
    position: sticky;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    vertical-align: middle;
}

.seta {
    width: 50px;
    height: 50px;
    position: relative;
}

.seta img{
    position: relative;
    left: 49.2%;
    top: 30vh;
}

.drop::after {
    content: "▾";
}

.drop {
    position: relative;
}

.dd {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 0;
    width: 140px;
    line-height: 35px;
    transition: 0.3s ease;
}

li:hover .dd {
    height: auto;
    padding: 5px 0;
}


.dd li {
    display: block;
}

.dd li a {
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    color: black;
    white-space: nowrap;
}

.dd li a:hover {
    background-color: #eee;
}

.home {
    color: #ad9966;
}

header img {
    margin-left: 10%;
    margin-right: 10%;
    position: sticky;
    width: 70px;
}

header a:hover{
    color: #ad9966;
    transition: color 0.35s ease, opacity 0.35s ease;
}

header ul {
    padding: 0;
    text-align: center;
    position: sticky;
}

header li{
    display: inline-block;
    width: 4%;
    padding-bottom: 20px;
    position: sticky;
    bottom: 35px;
    margin-right: 5%;
}

.hbg{
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    background-image: url(/img/header-bg.png);
    height: 78vh;
    width: 100%;
    background-position: center;
}

.hbg h1 {
    text-align: center;
    padding-top: 17%;
    font-size: 70px;
    margin: 0;
    color: #ffffff;
}

.hbg hr{
    width: 26%;
}

.hbg p{
    text-align: center;
    color: #ffffff;
}

.bookatb a {
    text-decoration: none;
}
.viewmleft a {
    text-decoration: none;
}

.viewmleft {
    background-repeat: no-repeat;
    background-size: cover;
    background: url(img/view-menu-bg.png);
    width: 92px;
    height: 180px;
    left: 0;
    bottom: 37%;
    position: fixed;
}

.bookatb {
    background-repeat: no-repeat;
    background-size: cover;
    background: url(img/book-table-bg.png);
    width: 92px;
    height: 180px;
    position: fixed;
    right: 0;
    bottom: 37%;
}
.viewmleft p{
    font-size: 10px;
    transform: rotate(90deg);
    color: black;
    margin: 0;
    position: relative;
    width: 150px;
    top: 75px;
    right: 40px;
}
.viewmleft:hover p{
    transform: rotate(0deg);
}

.bookatb p{
    font-size: 10px;
    transform: rotate(270deg);
    margin: 0;
    width: 150px;
    position: relative;
    top: 75px;  
    right: 15px;
}

.bookatb:hover p{
    transform: rotate(0deg);
}

.menu{
    margin-top: 7vh;
}

.cdaily{
    width: 45%;
    position: relative;
    left: 7%;
    bottom: 92vh;
}

.daily {
    width: 60%;
    line-height: 72px;
    font-weight: 400;
    font-size: 48px;
}

.cdaily p {
    width: 50%;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    margin-bottom: 5vh;
    color: rgb(119, 119, 119);
    line-height: 30px;
}

.cdaily a{
    text-decoration: none;
    font-size: 17px;
    color: #ffffff;
    background-color: #ad9966;
    padding: 10px 30px;
    letter-spacing: 2px;
    line-height: 48px;
    font-weight: 100;
    border: 1px solid #ad9966;
    transition: 0.3s;
}

.cdaily a:hover{
    background-color: #ffffff;
    color: #ad9966;
}


.menu h2 {
    font-family: "Playfair Display", serif;
}

.appetizer{
    width: 30%;
    position: relative;
    left: 56%;
}

.appetizer h2{
    text-align: center;
    font-style: italic;
    font-weight: 300;
    position: relative;
    font-size: 21px;
    padding: 5vh;
}

.att {
    text-align: center;
    font-size: 15px;
}

.adsc {
    text-align: center;
    font-size: 15px;
    color: rgb(119, 119, 119);
    padding-bottom: 4vh;
}

.adscf {
    text-align: center;
    font-size: 15px;
    color: rgb(119, 119, 119);
    padding-bottom: 6vh;
}

.adscfi {
    text-align: center;
    font-size: 15px;
    color: rgb(119, 119, 119);
}

.chef {
    width: 100%;
    display: flex;
    position: relative;
    left: 7%;
}

.cheftext {
    width: 70%;
}

.cheftext h2{
    font-family: "Playfair Display", serif;
    font-size: 48px;
    font-weight: 400;
    width: 20%;
}

.cheftext p {
    width: 70%;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    margin-bottom: 5vh;
    color: rgb(119, 119, 119);
    line-height: 30px;
}

.cchef{
    position: relative;
    right: 10%;
    bottom: 20vh;
}

.divgallery{
    width: 100%;
    display: block;
    margin-top: 11vh;
    text-align: center;
    column-count: 2;
    height: 190vh;
    position: relative;
    bottom: 76vh;
}

.g1 {
    position: relative;
    left: 6%;
    overflow: hidden;
    width: 555px;
    height: 800px;
    transition: 0.3s ease;
}

.g1 img {
    transition: 0.3s ease;
}

.g2 img {
    transition: 0.3s ease;
}

.g3 img{
    transition: 0.3s ease;
}

.g4 img {
    transition: 0.3s ease;
}

.g2{
    position: relative;
    top: 35vh;
    overflow: hidden;
    width: 457px;
    height: 560px;
}

.g3 {
    position: relative;
    top: 10vh;
    overflow: hidden;
    left: 20%;
    width: 457px;
    height: 560px;
}

.g4{
    position: relative;
    top: 40vh;
    overflow: hidden;
    right: 2%;
    width: 555px;
    height: 600px;
}

.g1 img:hover{
     filter: brightness(0.4);
     transform: scale(1.3);
}

.g2 img:hover{
    filter: brightness(0.4);
    transform: scale(1.3);
}

.g3 img:hover{
    filter: brightness(0.4);
    transform: scale(1.3);
}

.g4 img:hover{
    filter: brightness(0.4);
    transform: scale(1.3);
}

footer {
    display: block;
    background-color: #04091e;
    height: 32vh;
    padding-bottom: 10%;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

footer div {
    display: inline-block;
    margin-right: 5%;
    color: #ffffff;
}

footer h3 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    padding-bottom: 5%;
}

footer p {
    font-family: "Roboto", sans-serif;
    color: #777777;
    font-size: 15px;
    transition: 0.3s ease;
}

footer p:hover{
    color: #ad9966;
}

footer button{
    width: 4%;
    height: 5vh;
    position: relative;
    background-color: #ad9966;
    bottom: 5.2vh;
    left: 4.5%;
}

footer button::after{
    position: relative;
    content: "→";
    color: white;
}

footer input{
    background-color: #04091e;
    width: 160%;
    height: 4vh;
    color: white;
}

#claudio {
    color: #777777;
    position: relative;
    bottom: 4.9vh;
    left: 7%;
}

#copyright {
    margin-top: 6vh;
    display: inline-block;
}

#copyright span{
    color: #ad9966;
}

.rdsc {
    display: inline-block;
    position: relative;
    margin-left: 30%;
}

.face{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #363c5594;
}

.face::after{
    content: url("/img/facebook-app-symbol\ \(1\).png");
}

.x{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #363c5594;
}

.x::after{
    content: url("/img/twitter\ \(1\).png");
}

.int{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #363c5594;
}

.int::after{
    content: url("/img/globe\ \(1\).png");
}

.be{
    transform: scale(1.1);
    left: 90%;
    bottom: 3vh;
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #363c5594;
}

.be::after{
    content: url("/img/social\ \(1\).png");
}

.face:hover{
    background-color: #ad9966;
    content: url("/img/facebook-app-symbol\ \(2\).png");
}

.x:hover{
    background-color: #ad9966;
    content: url("/img/twitter\ \(2\).png");
}

.int:hover{
    background-color: #ad9966;
    content: url("/img/globe\ \(2\).png");
}

.be:hover{
    background-color: #ad9966;
    content: url("/img/social\ \(2\).png");
}